@charset "utf-8";
/* CSS Document */

.product_storyList_content_bottom{
    border-bottom:0px solid #666;
    clear:both;
    margin-bottom:20px;
}
.product_storyList_content_left{
    width:200px;
    text-align:center;
    float:left;
}
.product_storyList_content_right{
    float:right;
    width:800px;
    margin:0 auto;
}
.product_storyList_content_dash{
    border-bottom:dashed 1px #666;
}
.blue_14{
    color:#1965b3;
    font-size:14px;
    text-decoration:none;
}
.blue_14:hover{
    color:#1965b3;
    text-decoration:underline;
    font-size:14px;
}
.product_content_dd dd{
    float:right;
    padding-right:10px;
}
.product_content_delete{
    text-decoration:line-through;
}
#product_page li{
    float:left;
}
.product_page{
    width:16px;
    height:15px;
    text-decoration:none;
    float:left;
    display: block;
    background-color:#FC6;
    margin:0px 3px 1px 0px;
    text-align:center;

}
